@font-face {
  font-family: "PT_Sans_Narrow_Regular";
  font-style: normal;
  font-weight: 400;
  src: url("/source/fonts/PT-Sans-Narrow/PTSans-Narrow.woff2") format("woff2"),
        url("/source/fonts/PT-Sans-Narrow/PTSans-Narrow.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT_Sans_Narrow_Bold";
  font-style: normal;
  font-weight: 700;
  src: url("/source/fonts/PT-Sans-Narrow/PTSans-NarrowBold.woff2") format("woff2"),
        url("/source/fonts/PT-Sans-Narrow/PTSans-NarrowBold.woff") format("woff");
  font-display: swap;
}
