// ! Color
$primary-color: #ffffff;
$secondary-color: #000000;

// ! Background (bg)
$primary-bg: #f8f5f2;
$secondary-bg: #292929;
$third-bg: #353535;

// ! Font
$primary-font: "PT Sans Narrow", "Arial", sans-serif;

// ! Width viewport
$tablet-widht: 768px;
$desktop-width: 1440px;
