.advantages {
  position: relative;
  margin-top: -1px;
  background-color: #292929;
  padding-bottom: 47px;
}

.advantages__list {
  margin: 0;
  padding: 0;
}

.advantages__item:not(:first-of-type) {
  display: none;
}

.advantages__item {
  margin: 0 auto;
  padding-top: 165px;
}

.advantages__item:first-of-type {
  position: relative;
  width: 320px;
  height: 100%;
  background-image: url('/images/scrissors.svg');
  background-size: 95px 94px;
  background-position: 50% 40px;
  background-repeat: no-repeat;
}

.advantages__item:first-of-type::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $primary-bg;
  width: 320px;
  height: 34px;
  margin-bottom: -55px;
  clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 100% 0%, 100% 100%, 50% 100%);
}

.advantages__item-title {
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 12px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
}

.advantages__item-description {
  max-width: 250px;
  margin: 0 auto;
  padding-bottom: 30px;
  font-size: 20px;
  line-height: 27px;
}
