.main-informations__title {
  @media (min-width: $tablet-widht) {
    display: flex;
    justify-content: center;
  }
}

.main-informations__header {
  position: relative;
  padding: 28px 0 14px 0;
  color: #000000;
  background-color: #ffffff;
  @media (min-width: $tablet-widht) {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: auto;
    margin-top: -179px;
    padding: 25px 84px 59px 34px;
  }
}

.main-informations__header::after {
  @media (min-width: $tablet-widht) {
    content: "* — приведённые данные ложь";
    position: absolute;
    max-width: 280px;
    bottom: 37px;
    left: 34px;
    font-size: 20px;
    line-height: 20px;
    color: #0000004D;
  }
}

.main-informations__subtitle {
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 13px;
  font-family: $primary-font;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
    @media (min-width: $tablet-widht) {
      display: inline-block;
      max-width: 203px;
      height: auto;
      margin: auto 0;
      margin-right: 60px;
      padding-bottom: 10px;
      font-size: 40px;
      line-height: 40px;
      text-transform: none;
  }
}

.main-informations__description {
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 14px;
  font-size: 20px;
  line-height: 27px;
      @media (min-width: $tablet-widht) {
      display: inline-block;
      margin: auto 0;
      margin-left: 53px;
      min-width: 202px;
      max-width: 202px;
      padding-bottom: 10px;
      text-align: left;
  }
}

.main-informations__list{
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  background-color: #292929;
    @media (min-width: $tablet-widht) {
      display: grid;
      grid-template-columns: 320px 320px;
      padding-bottom: 42px;
      justify-content: center;
      background-color: #353535;
  }
}
