

.main-informations__header {
  padding: 28px 0 14px 0;
  color: #000000;
  background-color: #ffffff;
}

.main-informations__subtitle {
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 13px;
  font-family: $primary-font;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-informations__description {
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 14px;
  font-size: 20px;
  line-height: 27px;
}

.main-informations__list{
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  background-color: #292929;
}

.main-information__item:last-of-type::after {
  content: "* — приведённые данные ложь";
  position: absolute;
  max-width: 280px;
  bottom: -40px;
  left: 16%;
  font-size: 20px;
  line-height: 20px;
  color: rgba($color: $primary-color, $alpha: 0.3);
}

.main-information__item {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: space-between;
  max-width: 320px;
  background-color: #353535;
}

.main-information__item:nth-of-type(even) {
  background-color: #4E4E4E;
}

.main-information__title {
  padding: 10px 0;
  margin: 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
}

.main-information__description {
  padding: 10px 0;
  margin: 0;
  max-width: 110px;
  text-align: right;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  box-sizing: border-box;
}



// #2D26820D
