

.main-information__item:last-of-type::after {
  @media (max-width: 767px) {
  content: "* — приведённые данные ложь";
  position: absolute;
  max-width: 280px;
  bottom: -40px;
  left: 16%;
  font-size: 20px;
  line-height: 20px;
  color: rgba($color: $primary-color, $alpha: 0.3);
  }
}

.main-information__item {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: space-between;
  max-width: 320px;
  background-color: #353535;
  @media (min-width: $tablet-widht) {
    flex-direction: column;
    width: 320px;
    text-align: left;
  }
}

.main-information__item:nth-of-type(even) {
  background-color: #4E4E4E;
}

.main-information__item:first-of-type, .main-information__item:last-of-type{
    @media (min-width: $tablet-widht) {
      background-color: #FFFFFF0D;
  }
}

.main-information__title {
  padding: 10px 0;
  margin: 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
      @media (min-width: $tablet-widht) {
        display: flex;
      padding-top: 25px;
      padding-bottom: 5px;
      max-width: 260px;
      font-size: 72px;
      line-height: 72px;
  }
}

.main-information__title-asterisk {
  @media (min-width: $tablet-widht) {
    display: inline-block;
    margin: 0;
    margin-top: 5px;
    margin-left: 5px;

  }
}

.main-information__description {
  padding: 10px 0;
  margin: auto 0;
  max-width: 110px;
  text-align: right;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  box-sizing: border-box;
    @media (min-width: $tablet-widht) {
      max-width: 200px;
      padding-top: 2px;
      padding-bottom: 30px;
      text-align: left;
  }
}



// #2D26820D
