.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 18px;
  color: $secondary-color;
}

.reviews__title {
  max-width: 280px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.reviews__button {
  display: none;
}

.reviews__comment {
  display: flex;
  align-items: center;
  max-width: 280px;
  padding-top: 28px;
}

.reviews__img {
  align-self: flex-start;
  margin-top: 11px;
  margin-right: 20px;
  object-fit: cover;
}

.reviews__comment-description {
  display: flex;
  flex-direction: column;
  max-width: 280px;
}

.reviews__comment-author {
  max-width: 210px;
  margin-bottom: 9px;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
}

.reviews__comment-blockquote {
  margin: 0;
  margin-bottom: 28px;
  text-align: left;
}


